<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
    <header>
        <!-- Aquí puedes agregar contenido específico del encabezado si lo necesitas -->
        <nav>
        <a href="/about">About Us</a>
        <a href="/team">Team</a>
        <a href="{% url 'contact_view' %}">Contact</a>
        <a href="{% url 'product_list_view' %}">Product List</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí puedes agregar contenido específico del pie de página si lo necesitas -->
    </footer>
</body>
</html>
